# Template for the .env file that should be created in this directory
# to support execution of 'exploratory' tests.

# Exploratory tests depend on an application being registered against in a tenant
# where Graph queries will be executed. Details of the application should be provided
# through the AZURE_TENANT_ID, AZURE_CLIENT_ID, and AZURE_CLIENT_SECRET variables.

# Some tests depend on connecting to an Azure B2C tenant. Details of the application 
# registered with the B2C tenant should be provided through the AZURE_B2C_TENANT_ID,
# AZURE_B2C_CLIENT_ID, and AZURE_B2C_CLIENT_SECRET variables. GRAPH_USER_ID should 
# be set to the Object ID in the tenant referenced through AZURE_B2C_TENANT_ID.

# The tests depend on connecting to a SharePoint site. Details of the site should be
# provided through the GRAPH_SITE_HOSTNAME and GRAPH_SITE_PATH variables.

# For the above mentioned SharePoint site, there needs to be a list containing at least
# one item. The name of the list and the ID of the item should be provided through the 
# GRAPH_LIST_NAME and GRAPH_LIST_ITEM_ID variables.

# Some tests relate to calling the workforce-api after retrieving an access token
# from an AAD identity provider. These tests rely on the WF_API* variables.

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_B2C_TENANT_ID=
AZURE_B2C_CLIENT_ID=
AZURE_B2C_CLIENT_SECRET=
GRAPH_SITE_HOSTNAME=
GRAPH_SITE_PATH=
GRAPH_LIST_NAME=
GRAPH_LIST_ITEM_ID=
GRAPH_USER_ID=

WF_API_URL=

WF_API_CLIENT_AUTH_AUTHORITY=
WF_API_CLIENT_AUTH_CLIENT_ID=
WF_API_CLIENT_AUTH_CLIENT_SECRET=
WF_API_CLIENT_AUTH_SCOPE=
